@{
	ViewBag.Title = "Search";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Services.Repository.RecipeListDisplayWithPaging
@using Microsoft.AspNetCore.Identity

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager


	<div id="page-title" class="padding-tb-30px gradient-white text-center">

		<h1 class="font-weight-300 hvr-skew-backward">Search Results for: <font color="Green"> @ViewBag.keyword</font></h1>

	</div>


	<div class="container">
		<div class="margin-bottom-60px">
			<div class="listing-search box-shadow">
				<form class="row no-gutters" action="/Search/SearchKeyWordFitler">
					<div class="col-md-4">
						<div class="keywords">
							<input class="listing-form first" type="text" placeholder="Keywords..." value="@ViewBag.keyword" name="keyword" id="postTitle">
						</div>
					</div>
					<div class="col-md-4">
						<div class="categories dropdown">
							<select class="listing-form d-block text-nowrap" id="dropdownMenu2" name="filter">
								<option value="1">Top Share</option>
								<option value="2">Date Recent</option>
								<option value="3">A-Z</option>
								<option value="4">hong biet</option>
							</select>
						</div>
						<script>
							// Replace "selectedValue" with the actual variable name in your JavaScript code
							var selectedValue = @ViewBag.filter; // Example value

							// Set the value of the select element to the desired value
							document.getElementById("dropdownMenu2").value = selectedValue.toString();
						</script>
					</div>
					<div class="col-md-4">
						<button class="listing-bottom background-second-color box-shadow hvr-bounce-to-right" type="submit">Search Now</button>
					</div>
				</form>
			</div>
		</div>
	</div>



	<div class="container">
		<!-- item -->
	@if (Model.Recipes != null && ViewBag.notfound != "")
	{
				<div class="recipes-masonry">
			@foreach (var item in Model.Recipes)
			{

							<!-- Recipe Item -->
							<div class="col-xl-3 col-lg-4 col-md-6 recipe-item margin-bottom-40px hvr-buzz">
								<div class="card border-0 box-shadow">
									<div class="card-img-top"><a href="/Recipe/RecipeDetail/?id=@item.RecipeId"><img src="@item.Image" alt=""></a></div>
									<div class="padding-lr-30px padding-tb-20px">
										<h5 class="margin-bottom-20px margin-top-10px"><a class="text-dark" href="/Recipe/RecipeDetail/?id=@item.RecipeId">@item.Title</a></h5>
										<div class="rating">
											<ul>
												<li class="active"></li>
												<li class="active"></li>
												<li class="active"></li>
												<li class="active"></li>
												<li></li>
											</ul>
										</div>
										<hr>
										<div class="row no-gutters">
											<div class="col-4 text-left">
												
													<form method="get" action="/Recipe/ToggleCollection?recipeId=@item.RecipeId">
														<input type="hidden" name="recipeId" value="@item.RecipeId" />
											@if (SignInManager.IsSignedIn(User) && ViewBag.CheckCollectionSave[Model.Recipes.IndexOf(item)])
											{
																<button type="submit" class="text-red border-0 bg-transparent" id="saveButton">
																	<i class="icon_heart"></i> Unsave
																</button>
											}
											else
											{
																<button type="submit" class="text-red border-0 bg-transparent" id="saveButton">
																	<i class="far fa-heart"></i> Save
																</button>
											}
													</form>
												
											</div>
											<div class="col-8 text-right"><a href="/Recipe/RecipeDetail/?id=@item.RecipeId" class="text-grey-2"><i class="fas fa-users"></i> @item.NumberShare</a></div>
										</div>
									</div>
									<div class="background-light-grey border-top-1 border-grey padding-lr-30px padding-tb-20px">
										<a href="/Recipe/RecipeDetail/?id=@item.RecipeId" class="d-inline-block text-grey-3 h6 margin-bottom-0px margin-right-15px"> @item.Description.ToString().Substring(0,4)....<font color="red">(View More)</font> </a>
									</div>
								</div>
							</div>
							<!-- // Recipe Item -->
			}
				</div>




				<div class="col-12 pb-1">
					<nav aria-label="Page navigation">
						<ul class="pagination justify-content-center mb-3">


					@if (Model.PagingInfo.CurrentPage != 1)
					{
									<li class="page-item ">
										<a class="page-link" href="/Search/SearchKeyWordFitler/?productPage=@(Model.PagingInfo.CurrentPage-1)&keyword=@ViewBag.keyword&filter=@ViewBag.filter" aria-label="Previous">
											<span aria-hidden="true">&laquo;</span>
											<span class="sr-only">Previous</span>
										</a>
									</li>
					}
					else
					{
									<li class="page-item disabled">
										<a class="page-link" href="#" aria-label="Previous">
											<span aria-hidden="true">&laquo;</span>
											<span class="sr-only">Previous</span>
										</a>
									</li>
					}

					@for (int i = 1; i <= Model.PagingInfo.TotalPages; i++)
					{
									<li class="page-item">
										<a class="page-link" href="/Search/SearchKeyWordFitler/?productPage=@i&keyword=@ViewBag.keyword&filter=@ViewBag.filter"
										   style="@((Model.PagingInfo.CurrentPage == i) ? "background-color: blue; color: white;" : "")">@i</a>
									</li>

					}
					@if (Model.PagingInfo.CurrentPage != Model.PagingInfo.TotalPages)
					{
									<li class="page-item">
										<a class="page-link" href="/Search/SearchKeyWordFitler/?productPage=@(Model.PagingInfo.CurrentPage+1)&keyword=@ViewBag.keyword&filter=@ViewBag.filter" aria-label="Next">
											<span aria-hidden="true">&raquo;</span>
											<span class="sr-only">Next</span>
										</a>
									</li>
					}
					else
					{
									<li class="page-item disabled">
										<a class="page-link" href="#" aria-label="Next">
											<span aria-hidden="true">&raquo;</span>
											<span class="sr-only">Next</span>
										</a>
									</li>
					}

						</ul>
					</nav>
				</div>

	}
	else
	{
				<h1 color="red">@ViewBag.notfound</h1>
	}
		<!-- // item -->
		<!--
				<div class="text-center">
			<a href="#" class="btn box-shadow margin-bottom-80px padding-tb-10px btn-sm border-2 border-radius-30 btn-inline-block width-210px background-dark text-white">Loading more</a>
		</div>
			-->


	</div>
@section Scripts {
			<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
			<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
			<script>

				(function ($) {
					$(document).ready(function () {
						$("#postTitle").autocomplete({
							source: '/api/postapi/search1'

						});

					});
				})(jQuery);
			</script>
	}
	<script>
		// Lấy đối tượng button Previous
		var prevBtn = document.getElementById("prevBtn");

		// Gán sự kiện click cho button Previous
		prevBtn.addEventListener("click", function () {
			var currentPage = @Model.PagingInfo.CurrentPage;
			if (currentPage > 1) {
				var prevPage = currentPage - 1;
				window.location.href = "/Search/SearchKeyWordFitler/?productPage=" + prevPage + "&keyword=@ViewBag.keyword&filter=@ViewBag.filter";
			}
		});
	</script>
