@page "external-login"
@model ExternalLoginModel
@{
    ViewData["Title"] = "Register";
}


@*<p id="external-login-description" class="text-info">
    You've successfully authenticated with <strong>@Model.ProviderDisplayName</strong>.
    Please enter an email address for this site below and click the Register button to finish
    logging in.
</p>

<div class="row">
    <div class="col-md-4">
        <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="email" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
</div>*@

<div id="page-title" class="padding-tb-30px gradient-white text-center">
	<div class="container">
		<ol class="breadcrumb opacity-5">
            <li><a href=@Url.Action("Index", "Home")>Home</a></li>
            <span>>></span>
			<li class="active">Register</li>
		</ol>
		<h1 class="font-weight-300">Associate your @Model.ProviderDisplayName account.</h1>
	</div>
</div>

<div class="container margin-bottom-100px">
    <p id="external-login-description" class="text-info text-center"style="font-size:15px;">
        You've successfully authenticated with <strong>@Model.ProviderDisplayName</strong>.
        Please enter an email address for this site below and click the Register button to finish
        logging in.
    </p>
    <div id="log-in" class="site-form log-in-form box-shadow border-radius-10">
		<div class="form-output">

            <form asp-page-handler ="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <label asp-for="Input.Email" class="form-label"></label>
                <div class="g">
                    <input asp-for="Input.Email" class="form-control" autocomplete="email" style="" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <button type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
			</form>
		</div>
	</div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
