@using System.Data
@model List<IndexViewModel>
@inject UserManager<AppUser> _userManager

@{
    ViewData["Title"] = "Admin";
    Layout = "_AdminLayout";
}

<!-- render body here -->
<h4 class="card-title">User list</h4>
<div class="table-responsive">
    <table id="demo-foo-addrow" class="table m-t-10 highlight contact-list no-wrap" data-sorting="true" data-paging="true" data-paging-size="6">
        <thead>
            <tr style="font-weight:bold;">
                <th>No</th>
                <th>Email</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phone</th>
                <th>Birthday</th>
                <th>Role</th>
                <th>No.Recipe</th>
                <th>Status</th>
                <th>Update</th>
            </tr>
        </thead>
        <tbody>
            @{
                int counter = 0;
                foreach (var user in Model)
                {
                    counter += 1;
                    <tr>
                            <td>@counter</td>
                            <td>@user.Email</td>
                            <td>@user.FirstName</td>
                            <td>@user.LastName</td>
                            <td>@user.PhoneNumber</td>
                            <td>@user.Birthday</td>
                            <td>
                                    @foreach (var role in @user.Role)
                                    {
                                    <span class="label label-danger">@role</span>
                                    }
                            </td>
                            <td>@user.TotalRecipe</td>
                            <td>

                                @if (user.Status)
                                {
                                    <span>Enable</span>
                                } else
                                {
                                    <span>Disable</span>
                                }

                            </td>
                            <td>
                                <form asp-area="Admin" asp-controller="Manage" asp-action="UpdateUserStatus" method="post">
                                    <input id="userEmail" name="userEmail" type="hidden" value="@user.Email" />
                                    <button type="submit" class="btn btn-success btn-sm">Update ik ba</button>
                                </form>
                            </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<!-- render body here -->

