@using System.Data
@model List<IndexViewModel>
@inject UserManager<AppUser> _userManager

@{
    ViewData["Title"] = "Admin";
    Layout = "_AdminLayout";
    Pager pager = new Pager();
    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage; 
    }
}

<style>
   .warning-msg {
        font-size: 17px;
        color: white;
        background-color: #f44336;
        padding: 10px;
   }

   .a-text {
        color: black;
        text-decoration: none;
        font-weight: bold;
        font-size: 15px;
   }
</style>
@if (TempData["UpdateError"] != null)
{
    <div class="alert alert-success">
        <p class="warning-msg"><i class="material-icons">warning</i> @TempData["UpdateError"]</p>
    </div>
}

<!-- render body here -->
<div class="col s12">
    <div class="card">
        <div class="card-content">
            <h4 class="card-title">User list</h4>
            <form asp-area="Admin" asp-controller="Manage" asp-action="SearchUser" method="get">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="search" name="keyword" type="text" value="@ViewBag.Keyword" placeholder="Input user email or user name">
                        <label for="search">Search</label>
                    </div>
                </div>
                <button type="submit" class="btn">Search</button>
            </form>

            <div class="table-responsive">
                <p style="margin-top: 15px;">@ViewBag.UserError</p
                <p style="margin-top: 15px;">@ViewBag.NotFind</p>
            @if (Model != null)
            {
                    <table  class="table datatable">
                        <thead>
                            <tr style="font-weight:bold;">
                                <th scope="col">#</th>
                                <th scope="col">User name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Birthday</th>
                                <th scope="col">Role</th>
                                <th scope="col">No.Recipe</th>
                                <th scope="col">Extenal login</th>
                                <th scope="col">Register date</th>
                                <th scope="col">Last login</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int counter = 0;
                                foreach (var user in Model)
                                {
                                    counter += 1;
                                    <tr>
                                        <td>@counter</td>
                                        <td>
                                            <div class="chip">
                                                <img src="@user.Member.Image" alt="username">
                                                <a class="a-text" href="/Admin/UserRecipe/?userID=@user.Member.Id">@user.Member.UserName</a>
                                            </div>
                                        </td>
                                        <td>@user.Member.Email</td>
                                        @*<td>@user.Member.FirstName</td>
                                        <td>@user.Member.LastName</td>*@
                                        <td class="dateElement">@user.Member.Birthday</td>
                                        <td>
                                            @foreach (var role in user.Role)
                                            {
                                                if (role.Contains("Admin"))
                                                {
                                                    <span class="label label-warning">@role</span>
                                                } else {
                                                    <span class="label label-primary">@role</span>
                                                }
                                            }
                                        </td>
                                        <td>
                                            <a class="a-text" href="/Admin/UserRecipe/?userID=@user.Member.Id">@user.TotalRecipe</a>
                                        </td>
                                        <td>
                                            @if (user.ExternalLogin != null){
                                            foreach (var provide in user.ExternalLogin)
                                            {
                                                    if (provide.LoginProvider.Contains("Google"))
                                                    {
                                                        <span class="label label-danger">@provide.LoginProvider</span>
                                                    } else if (provide.LoginProvider.Contains("Facebook")) {
                                                        <span class="label label-info">@provide.LoginProvider</span>
                                                    }
                                                }
                                            }
                                        </td>
                                        <td>@user.Member.RegistrationTime</td>
                                        <td>@MyToys.getLastTime(user.Member.LastLoginTime)</td>

                                        <td>
                                            <form asp-area="Admin" asp-controller="Manage" asp-action="UpdateUserStatus" method="post">
                                                <input id="userID" name="userID" type="hidden" value="@user.Member.Id" />
                                                <input id="searchUser" name="searchUser" type="hidden" value="@ViewBag.Keyword" />
                                                @if (user.Status)
                                                {
                                                    <button type="submit" class="btn btn-success btn-sm" style="background-color: #28a745;#28a745;">
                                                        Enable
                                                    </button>
                                                }
                                                else
                                                {
                                                    <button type="submit" class="btn btn-danger btn-sm" style="background-color: #dc3545; border-color: #dc3545;">
                                                        Disable
                                                    </button>
                                                }
                                            </form>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                    @Html.Partial("_Paging", @pager)
                }
            </div>
            <!-- render body here -->
        </div> 
    </div>
</div>

