@using System.Data
@model List<UserFeedback>
@inject UserManager<AppUser> _userManager

@{
    ViewData["Title"] = "User Feedback";
    Layout = "_AdminLayout";
}


<!-- render body here -->
<div class="col l4 s12 m7">
    <div class="card">
        <img class="responsive-img" src="~/assets/img/user-background-01.png" height="456" alt="Card image">
        <div class="card-img-overlay white-text social-profile d-flex justify-content-center">
            <div class="align-self-center">
                <img src="@Model[0].User.Image" class="circle" width="100" alt="user-image">
                <h4 class="card-title white-text">Model[0].User.UserName</h4>
                <h6 class="card-subtitle" style="color: #e5e500; font-weight: bold;">
                    @{
                        var tag = Model[0].User.FirstName + " " + Model[0].User.LastName;
                        @tag
                    }
                </h6>
                <p class="white-text">Best cook in the world!!!</p>
                <p class="white-text" id="date">Last login: @MyToys.getLastTime(Model[0].User.LastLoginTime)</p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-content">
            <small>Email address </small>
            <h6 style="margin-bottom: 3.5px;">@Model[0].User.Email</h6>
            <small>Registe account date</small>
            <h6 style="margin-bottom: 3.5px;" class="dateElement">@Model[0].User.RegistrationTime</h6>
            <small>First name</small>
            <h6 style="margin-bottom: 3.5px;">@Model[0].User.FirstName</h6>
            <small>Last name</small>
            <h6 style="margin-bottom: 3.5px;">@Model[0].User.LastName</h6>
            <small>Birthday</small>
            <h6 style="margin-bottom: 3.5px;">@Model[0].User.Birthday</h6>
            @*<div class="map-box m-t-20">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d470029.1604841957!2d72.29955005258641!3d23.019996818380896!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e848aba5bd449%3A0x4fcedd11614f6516!2sAhmedabad%2C+Gujarat!5e0!3m2!1sen!2sin!4v1493204785508" height="150" style="border:0;width: 100%" allowfullscreen></iframe>
            </div>
            <small class="db m-t-20">Social Profile</small>
            <a href="javascript:void(0)" class="btn-floating indigo darken-2 m-t-10"><i class="fab fa-facebook"></i></a>
            <a href="javascript:void(0)" class="btn-floating blue darken-1 m-t-10"><i class="fab fa-twitter"></i></a>
            <a href="javascript:void(0)" class="btn-floating deep-orange m-t-10"><i class="fab fa-youtube"></i></a>*@
        </div>
    </div>
</div>
<div class="col l8 s12">
    <div class="card">
        <div class="row">
            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col s3"><a class="active" href="#timeline">Personal recipe</a></li>
                    <li class="tab col s3"><a href="#profile">Feedback</a></li>
                    @*<li class="tab col s3"><a href="#settings1">Settings</a></li>*@
                </ul>
            </div>
            <div id="timeline" class="col s12">
                <div class="card-content">
                    <div class="profiletimeline">
                        @if (Model.Count == 0)
                        {
                            <h2 style="color:red; font-weight:bold;">No Feedback!!</h2>
                        }
                        else
                        {
                            <h2 style="color:blue; font-weight:bold;">Number of feedbacks: @Model.Count</h2>
                            @foreach (var feedback in Model)
                            {
                                <div class="sl-item">
                                    <div class="sl-left"> <img src="~/assets/img/chef-avt-default.png" alt="user" class="circle" /> </div>
                                    <div class="sl-right">
                                        <div>
                                            <div>
                                                <h4 style="display:inline-block;">
                                                    <a href="/Recipe/RecipeDetail/?id=@feedback.Recipe.RecipeId" style="margin-right:20px;">@feedback.Feedback.Title</a>
                                                    </h4>
                                            </div>
                                            <p style="margin: 20px; font-size: 16px;">@feedback.Feedback.Description</p>
                                            <div> <h5><i class="material-icons">date_range</i>Date create: @feedback.Feedback..Rating</h5></div>
                                            <div> <h5><i class="material-icons">date_range</i>Date create: @MyToys.getLastTime(feedback.Feedback.Date)</h5></div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- render body end -->
