@using System.Data
@model List<RecipeViewModel>
@inject UserManager<AppUser> _userManager

@{
    ViewData["Title"] = "Recipe manage";
    Layout = "_AdminLayout";
}

<!-- render body here -->
<div class="col s12">
    <div class="card">
        <div class="card-content">
            <h4 class="card-title"></h4>
            <form asp-area="Admin" asp-controller="Recipe" asp-action="SearchRecipe" method="get">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="search" name="keyword" type="text" value="@ViewBag.RecipeKeyword" placeholder="Enter recipe title or cook name">
                        <label for="search">Search</label>
                    </div>
                </div>
                <button type="submit" class="btn">Search</button>
            </form>

            <div class="table-responsive">
                <p style="margin-top: 15px;"> @ViewBag.NotFind</p>
            @if (Model != null)
                {
                    <table id="demo-foo-addrow" class="table m-t-10 highlight contact-list no-wrap" data-sorting="true" data-paging="true" data-paging-size="6">
                        <thead>
                            <tr style="font-weight:bold;">
                                <th>No</th>
                                <th>Title</th>
                                <th>Cook (Author)</th>
                                <th>No.Share</th>
                                <th>Create date</th>
                                <th>Status</th>
                                <th>Update</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int counter = 0;
                                foreach (var recipe in Model)
                                {
                                    counter += 1;
                                    <tr>
                                        <td>@counter</td>
                                        <td>
                                            <div class="chip">
                                                <img src="@recipe.RecipeImage" alt="username">
                                                <a href="/Recipe/RecipeDetails/?recipeID=@recipe.RecipeId">@recipe.RecipeTitle</a>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="chip">
                                                <img src="@recipe.UserImage" alt="username">
                                                <a href="/Admin/UserRecipe/?userID=@recipe.UserId">@recipe.UserName</a>
                                            </div>
                                        </td>
                                        <td>@recipe.UserName</td>
                                        <td>@recipe.NumberShare</td>
                                        <td>@recipe.CreateDate</td>
                                        <td>@recipe.Status</td>
                                        <td><button>Click vao day ik</button></td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                }
            </div>
            <!-- render body here -->
        </div>
    </div>
</div>

