@using System.Data
@model List<RecipeViewModel>
@inject UserManager<AppUser> _userManager

@{
    ViewData["Title"] = "Recipe manage";
    Layout = "_AdminLayout";
}

<!-- render body here -->
<div class="col s12">
    <div class="card">
        <div class="card-content">
            <h4 class="card-title"></h4>
            <form asp-area="Admin" asp-controller="Recipe" asp-action="SearchRecipe" method="get">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="search" name="keyword" type="text" value="@ViewBag.RecipeKeyword" placeholder="Enter recipe title or cook name">
                        <label for="search">Search</label>
                    </div>
                </div>
                <button type="submit" class="btn">Search</button>
            </form>

            <div class="table-responsive">
                <p style="margin-top: 15px;"> @ViewBag.NotFind</p>
            @if (Model != null)
                {
                    <table id="demo-foo-addrow" class="table m-t-10 highlight contact-list no-wrap" data-sorting="true" data-paging="true" data-paging-size="6">
                        <thead>
                            <tr style="font-weight:bold;">
                                <th>No</th>
                                <th>Title</th>
                                <th>Cook (Author)</th>
                                <th>No.Share</th>
                                <th>Create date</th>
                                <th>Status</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int counter = 0;
                                foreach (var recipe in Model)
                                {
                                    counter += 1;
                                    <tr>
                                        <td>@counter</td>
                                        <td>
                                            <div class="chip">
                                                <img src="@recipe.Recipe.Image" alt="username">
                                                <a class="a-text" href="/Recipe/RecipeDetails/?recipeID=@recipe.Recipe.RecipeId">@recipe.Recipe.Title</a>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="chip">
                                                <img src="@recipe.User.Image" alt="username">
                                                <a class="a-text" href="/Admin/UserRecipe/?userID=@recipe.User.Id">@recipe.User.UserName</a>
                                            </div>
                                        </td>
                                        <td>@recipe.Recipe.NumberShare</td>
                                        <td class="dateElement">@recipe.Recipe.Date</td>
                                        <td>
                                        <!--Hiển thị màu sắc label-->
                                            @if (recipe.Recipe.Status.Contains("rejected"))
                                            {
                                                <span class="label label-danger" style="font-size: 15px;">@recipe.Recipe.Status</span>
                                            }
                                            else if (recipe.Recipe.Status.Contains("public"))
                                            {
                                                <span class="label label-success" style="font-size: 15px;">@recipe.Recipe.Status</span>
                                            }
                                            else
                                            {
                                                <span class="label label-default" style="color:black; font-size: 15px;">@recipe.Recipe.Status</span>
                                            }
                                        </td>
                                        @*Recipe đã được duyệt rồi thì chỉ có nút reject*@
                                        @if (recipe.Recipe.Status.Equals("public"))
                                        {
                                            <td>
                                                <div style="display:inline-block">
                                                    <form asp-area="Admin" asp-controller="Recipe" asp-action="Index" method="post">
                                                        <input id="Status" name="Status" type="hidden" value="Rejected" />
                                                        <input id="SearchValue" name="SearchValue" type="hidden" value="@ViewBag.RecipeKeyword" />
                                                        <input id="recipeID" name="recipeID" type="hidden" value="@recipe.Recipe.RecipeId" />
                                                        <button type="submit" class="waves-effect waves-light btn red btn-sm">
                                                            Reject
                                                        </button>
                                                    </form>
                                                </div>
                                            </td>
                                        }
                                        //Recipe bị reject thì chỉ có nút approve
                                        else if (recipe.Recipe.Status.Equals("rejected"))
                                        {
                                            <td>
                                                <div style="display:inline-block">
                                                    <form asp-area="Admin" asp-controller="Recipe" asp-action="Index" method="post">
                                                        <input id="Status" name="Status" type="hidden" value="Public" />
                                                        <input id="SearchValue" name="SearchValue" type="hidden" value="@ViewBag.RecipeKeyword" />
                                                        <input id="recipeID" name="recipeID" type="hidden" value="@recipe.Recipe.RecipeId" />
                                                        <button type="submit" class="waves-effect waves-light btn  green btn-sm">
                                                            Approve
                                                        </button>
                                                    </form>
                                                </div>
                                            </td>
                                            
                                        }
                                        //Recipe chưa được duyệt có cả 2
                                        else if (recipe.Recipe.Status.Equals("pending"))
                                        {
                                            <td>
                                                <div style="display:inline-block">
                                                    <form asp-area="Admin" asp-controller="Recipe" asp-action="Index" method="post">
                                                        <input id="Status" name="Status" type="hidden" value="Public" />
                                                        <input id="recipeID" name="recipeID" type="hidden" value="@recipe.Recipe.RecipeId" />
                                                        <button type="submit" class="waves-effect waves-light btn green btn-sm">
                                                            Approve
                                                        </button>
                                                    </form>
                                                </div>
                                            </td>
                                            
                                            <td>
                                                <div style="display:inline-block">
                                                    <form asp-area="Admin" asp-controller="Recipe" asp-action="Index" method="post">
                                                        <input id="Status" name="Status" type="hidden" value="Rejected" />
                                                        <input id="recipeID" name="recipeID" type="hidden" value="@recipe.Recipe.RecipeId" />
                                                        <button type="submit" class="waves-effect waves-light btn red btn-sm">
                                                            Reject
                                                        </button>
                                                    </form>
                                                </div>
                                            </td>
                                        }
                                        else
                                        {
                                        }
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                }
            </div>
            <!-- render body here -->
        </div>
    </div>
</div>

