@using System.Data
@model RecipeViewModel
@inject UserManager<AppUser> _userManager


@{
	ViewData["Title"] = "Recipe details";
	Layout = "_AdminLayout";
}

@{
	string avg = Model.Recipe.AvgRate + "%";
}
<style>
	textarea {
		width: 350px;
		height: 10rem;
		background-color: white;
	}
</style>
<div class="rDetail">
	<div>
		<h1>@Model.Recipe.Title</h1>
		<!--Hiển thị màu sắc label-->
		@if (Model.Recipe.Status.Contains("rejected"))
		{
			<span class="label label-danger" style="font-size: 15px;">@Model.Recipe.Status</span>
		}
		else if (Model.Recipe.Status.Contains("public"))
		{
			<span class="label label-success" style="font-size: 15px;">@Model.Recipe.Status</span>
		}
		else
		{
			<span class="label label-default" style="color:black; font-size: 15px;">@Model.Recipe.Status</span>
		}
	</div>
	<div class="margin-tb-20px" style="margin:15px 0px;">
		<h4>Description</h4>
		@Model.Recipe.Description
	</div>
	<div>
		<a href="#"><img class="imgRD" src="@Model.Recipe.Image" alt="Recipe Image"></a>
	</div>
	<div class="ingredients padding-tb-10px">
		<h3>Ingredients</h3>
		<ul class="padding-lr-20px">
			@foreach (var item in Model.Ingredients)
			{
				<li>@item.IngredientName</li>
			}
		</ul>
	</div>
	<div class="directions padding-tb-10px">
		<h3>Directions</h3>
		<div class="padding-lr-20px">
			@foreach (var item in Model.Directions)
			{
				<p><b>Step @item.Step</b> - <span>@item.Direction1</span></p>
			}
		</div>
	</div>
	<div class="padding-tb-10px">
		<h3>Tags</h3>
		<div class="padding-lr-20px">
			<p>
				@foreach (var item in Model.Tags)
				{
					@if (item.ToString().Trim() != null)
					{
						<a href="#">#@item.TagName</a>
					}
				}
			</p>
		</div>
	</div>
</div>

<div class="buttonCheck">
	@*Recipe đã được duyệt rồi thì chỉ có nút reject*@
	@if (Model.Recipe.Status.Equals("public"))
	{
		<div style="display:inline-block">
			<form asp-area="Admin" asp-controller="Recipe" asp-action="RecipeDetails" method="post">
				<input id="status" name="status" type="hidden" value="Rejected" />
				<input id="searchValue" name="searchValue" type="hidden" value="@ViewBag.RecipeKeyword" />
				<input id="recipeID" name="recipeID" type="hidden" value="@Model.Recipe.RecipeId" />
				<button type="submit" class="waves-effect waves-light btn red btn-sm">
					Reject
				</button>
					<br/>
					<label for="message">Message:</label><br>
					<br/>
					<textarea id="message" name="message" rows="4" cols="50" required></textarea><br>
			</form>
		</div>
	}
	//Recipe bị reject thì chỉ có nút approve
	else if (Model.Recipe.Status.Equals("rejected"))
	{
		<div style="display:inline-block">
			<form asp-area="Admin" asp-controller="Recipe" asp-action="RecipeDetails" method="post">
				<input id="status" name="status" type="hidden" value="Public" />
				<input id="searchValue" name="searchValue" type="hidden" value="@ViewBag.RecipeKeyword" />
				<input id="recipeID" name="recipeID" type="hidden" value="@Model.Recipe.RecipeId" />
				<button type="submit" class="waves-effect waves-light btn  green btn-sm">
					Approve
				</button>
				<br/>
				<label for="message">Message:</label><br>
				<br/>
				<textarea id="message" name="message" rows="4" cols="50" required></textarea><br>
			</form>
		</div>
	}
	//Recipe chưa được duyệt có cả 2
	else if (Model.Recipe.Status.Equals("pending"))
	{
		<div style="display:inline-block">
			<form asp-area="Admin" asp-controller="Recipe" asp-action="RecipeDetails" method="post">
				<input id="status" name="status" type="hidden" value="Public" />
				<input id="searchValue" name="searchValue" type="hidden" value="@ViewBag.RecipeKeyword" />
				<input id="recipeID" name="recipeID" type="hidden" value="@Model.Recipe.RecipeId" />
				<input type="hidden" id="message" name="message">
				<button type="submit" class="waves-effect waves-light btn green btn-sm">
					Approve
				</button>
			</form>
		</div>

		<div style="display:inline-block">
			<form asp-area="Admin" asp-controller="Recipe" asp-action="RecipeDetails" method="post">
				<input id="status" name="status" type="hidden" value="Rejected" />
				<input id="searchValue" name="searchValue" type="hidden" value="@ViewBag.RecipeKeyword" />
				<input id="recipeID" name="recipeID" type="hidden" value="@Model.Recipe.RecipeId" />
				<input type="hidden" id="message" name="message">
				<button type="submit" class="waves-effect waves-light btn red btn-sm">
					Reject
				</button>
			</form>
		</div>
		<div>
			<br/>
			<label for="messageText">Message:</label>
			<br/>
			<textarea id="messageText" name="messageText" rows="4" cols="50" required></textarea>
			<br>
		</div>
		
	} else {

	}
	@*<a href="#" class="approve">Approve</a>
	<a href="#" class="reject">Reject</a>*@
</div>

<script>
	// Get the textarea element
	const textarea = document.getElementById("messageText");

	// Get the hidden field element
	const hiddenField = document.getElementById("message");

	// Add an event listener to the textarea for the "input" event
	textarea.addEventListener("input", function () {
		// Update the value of the hidden field with the textarea value
		hiddenField.value = textarea.value;
	});
</script>