@using System.Data
@model RecipeViewModel
@inject UserManager<AppUser> _userManager


@{
	ViewData["Title"] = "Recipe details";
	Layout = "_AdminLayout";
}

@{
	string avg = Model.AvgRate + "%";
}
<div class="rDetail">
	<div>
		<h1>@Model.RecipeTitle</h1>
	</div>
	<div class="margin-tb-10px">
		@Model.RecipeDescription
	</div>
	<div>
		<a href="#"><img class="imgRD" src="http://placehold.it/1600x800" alt=""></a>
	</div>
	<div class="ingredients padding-tb-10px">
		<h3>Ingredients</h3>
		<ul class="padding-lr-20px">
			@foreach (var item in Model.Ingredients)
			{
				<li>@item.IngredientName</li>
			}
		</ul>
	</div>
	<div class="directions padding-tb-10px">
		<h3>Directions</h3>
		<div class="padding-lr-20px">
			@foreach (var item in Model.Directions)
			{
				<p><b>Step @item.Step</b> - <span>@item.Direction1</span></p>
			}
		</div>
	</div>
	<div class="padding-tb-10px">
		<h3>Tags</h3>
		<div class="padding-lr-20px">
			<p>
				@foreach (var item in Model.Tags)
				{
					@if (item.ToString().Trim() != null)
					{
						<a href="#">#@item.TagName</a>
					}
				}
			</p>
		</div>
	</div>
</div>

<div class="buttonCheck">
	<a href="#" class="approve">Approve</a>
	<a href="#" class="reject">Reject</a>
</div>

