@model Services.Data.RecipeData

@{
	ViewBag.Title = Model.Title;
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
	<div id="page-title" class="padding-tb-30px gradient-white">
		<div class="container text-left margin-bottom-10px">
			<ol class="breadcrumb opacity-5">
				<li><a href="@Url.Action("Index", "Home")">Home</a></li>
				<li class="active">Recipe</li>
			</ol>
			<h1 class="font-weight-400 margin-bottom-20px">@Model.Title</h1>
			<div class="row">
				<div class="rating col-2">
					<ul>
						<li class="active"></li>
						<li class="active"></li>
						<li class="active"></li>
						<li class="active"></li>
						<li></li>
						<a href="#">4.1 (99)</a>
					</ul>
				</div>
				|
				<div class="col-4">
					<a href="#">89 reviews</a>
					<span class="margin-left-5px margin-right-5px">|</span>
					<a href="#">55 photos</a>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-8 margin-top-10px margin-bottom-10px">
					@Model.Description
				</div>
			</div>
			<div class="margin-bottom-10px">
				Recipe by Cook
				<span class="margin-left-5px margin-right-5px">|</span>
				Updated on @Model.Date
			</div>
			<div class="row">
				<div class="">
					<a href="#" class="text-red border-0">
						<i class="far fa-heart"></i> Save
					</a>
					<span class="margin-left-5px margin-right-5px">|</span>
					<a href="#"><i class="far fa-star"></i> Rate</a>
					<span class="margin-left-5px margin-right-5px">|</span>
					<a href="#"><i class="fas fa-print"></i> Print</a>
					<span class="margin-left-5px margin-right-5px">|</span>
					<a href="#"><i class="fas fa-share"></i> Share</a>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<div class="margin-bottom-40px card border-0 box-shadow">
					<div class="card-img-top"><a href="#"><img src="http://placehold.it/1600x800" alt=""></a></div>
					<div class="padding-lr-30px padding-tb-20px">
						<div class="padding-tb-10px">
							<h3>Ingredients</h3>
							<ul>
								@foreach (var item in Model.Ingredients)
								{
									<li>@item.IngredientName</li>
								}
							</ul>
						</div>
						<div class="padding-tb-10px">
							<h3>Directions</h3>
							<div class="padding-lr-20px">
								@foreach (var item in Model.Directions)
								{
									<p><b>Step @item.Step</b> - <span>@item.Direction1</span></p>
								}
							</div>
						</div>
						<div class="row no-gutters padding-tb-20px">
							<div class="col-12 text-center">
								<button class="btn box-shadow padding-lr-30px padding-tb-10px btn-sm border-2 border-radius-10 btn-inline-block background-main-color text-white margin-right-20px margin-tb-12px ">
									I MADE IT <i class="fas fa-utensil-spoon"></i>
								</button>
								<button class="btn box-shadow padding-lr-30px padding-tb-10px btn-sm border-2 border-radius-10 btn-inline-block border-main-color text-main-color margin-right-20px margin-tb-12px ">
									PRINT <i class="fas fa-print"></i>
								</button>
							</div>
						</div>

					</div>
				</div>


				<div class="margin-bottom-40px box-shadow">
					<div class="padding-30px background-white">
						<h3><i class="far fa-star margin-right-10px text-main-color"></i> Review &amp; Rating</h3>
						<hr>

						<ul class="commentlist padding-0px margin-0px list-unstyled text-grey-3">
							<li class="border-bottom-1 border-grey-1 margin-bottom-20px">
								<img src="http://placehold.it/60x60"
									 class="float-left margin-right-20px border-radius-60 margin-bottom-20px" alt="">
								<div class="margin-left-85px">
									<a class="d-inline-block text-dark text-medium margin-right-20px" href="#">
										Bakhita
										alrawi
									</a>
									<span class="text-extra-small">
										Date: <a href="#" class="text-main-color">
											July 15,
											2016
										</a>
									</span>
									<div class="rating">
										<ul>
											<li class="active"></li>
											<li class="active"></li>
											<li class="active"></li>
											<li class="active"></li>
											<li></li>
										</ul>
									</div>
									<p class="margin-top-15px text-grey-2">
										It is a long established fact that a reader
										will be distracted by the readable content of a page when looking at its layout.
									</p>
								</div>
							</li>
							<li class="border-bottom-1 border-grey-1 margin-bottom-20px">
								<img src="http://placehold.it/60x60"
									 class="float-left margin-right-20px border-radius-60 margin-bottom-20px" alt="">
								<div class="margin-left-85px">
									<a class="d-inline-block text-dark text-medium margin-right-20px" href="#">
										Rabie
										Elkheir
									</a>
									<span class="text-extra-small">
										Date: <a href="#" class="text-main-color">
											July 15,
											2016
										</a>
									</span>
									<div class="rating">
										<ul>
											<li class="active"></li>
											<li class="active"></li>
											<li></li>
											<li></li>
											<li></li>
										</ul>
									</div>
									<p class="margin-top-15px text-grey-2">
										It is a long established fact that a reader
										will be distracted by the readable content of a page when looking at its layout.
									</p>
								</div>
							</li>
							<li class="border-bottom-1 border-grey-1 margin-bottom-20px">
								<img src="http://placehold.it/60x60"
									 class="float-left margin-right-20px border-radius-60 margin-bottom-20px" alt="">
								<div class="margin-left-85px">
									<a class="d-inline-block text-dark text-medium margin-right-20px" href="#">
										Adel
										Alsaeed
									</a>
									<span class="text-extra-small">
										Date: <a href="#" class="text-main-color">
											July 15,
											2016
										</a>
									</span>
									<div class="rating">
										<ul>
											<li class="active"></li>
											<li class="active"></li>
											<li class="active"></li>
											<li class="active"></li>
											<li class="active"></li>
										</ul>
									</div>
									<p class="margin-top-15px text-grey-2">
										It is a long established fact that a reader
										will be distracted by the readable content of a page when looking at its layout.
									</p>
								</div>
							</li>
						</ul>
					</div>
				</div>

				<div class="margin-bottom-80px box-shadow">
					<div class="padding-30px background-white">
						<h3><i class="far fa-star margin-right-10px text-main-color"></i> Add Review </h3>
						<hr>
						<form>
							<div class="form-row">
								<div class="form-group col-md-6">
									<label for="inputName">Full Name</label>
									<input type="text" class="form-control" id="inputName" placeholder="Name">
								</div>
								<div class="form-group col-md-6">
									<label for="inputEmail4">Email</label>
									<input type="email" class="form-control" id="inputEmail4" placeholder="Email">
								</div>
							</div>
							<div class="form-group">
								<label for="exampleFormControlTextarea1">Feedback</label>
								<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
										  placeholder="Feedback"></textarea>
							</div>
							<a href="#"
							   class="btn-sm btn-lg btn-block background-main-color text-white text-center font-weight-bold text-uppercase border-radius-10 padding-10px">
								Add
								Now!
							</a>
						</form>
					</div>
				</div>
			</div>

			<div class="col-lg-4">
				<div class="listing-search box-shadow background-main-color padding-30px margin-bottom-30px">
					<form action="../../Search/SearchKeyWord" class="row no-gutters">
						<div class="col-md-12 margin-bottom-20px">
							<div class="keywords">
								<input class="listing-form first max-width-set" type="text" placeholder="Keywords...." name="keyword" id="postTitle" value="">
							</div>
						</div>
						<div class="col-md-12 margin-tb-10px">
							<button type="submit" class="listing-bottom background-second-color box-shadow">Search Now</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

</body>
