@model Services.Data.RecipeData

@{
	ViewBag.Title = "Cook Recipe Status";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
	<div id="page-title" class="padding-top-30px padding-bottom-10px gradient-white">
		<div class="container text-left">
			<ol class="breadcrumb opacity-5">
				<li><a href="@Url.Action("Index", "Home")">Home</a></li>
				<li class="active">Recipe</li>
			</ol>
		</div>
	</div>
	

	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				@if (Model.RecipeNotiMessage == null)
				{
					
				} else if (Model.Status == "reject")
				{
					<div class="alert alert-danger">
						<p class="warning-msg"><i class="material-icons"></i>@Model.RecipeNotiMessage </p>
					</div>
				} else
				{
					<div class="alert alert-success">
						<p class="warning-msg"><i class="material-icons"></i>@Model.RecipeNotiMessage </p>
					</div>
				} 
				<div class="margin-tb-20px card border-0 box-shadow">
					<div class="padding-lr-20px padding-tb-20px">
						<div class="padding-tb-10px text-center">
							@if (Model.Status == "public")
							{
								<div class="text-success">
									<h1>Your recipe added approved</h1>
									<p>
										Your recipe has been added successfully. <br />
										Thank you for your contribution!
									</p>
									<p><a href="/Recipe/RecipeDetail/?id=@Model.RecipeId">View it publicly</a> or <a href="/User/UserRecipeList">View your contributions</a></p>
								</div>

							}
							else if (Model.Status == "rejected")
							{
								<div class="text-danger">
									<h1>Your recipe added is rejected</h1>
									<p><a href="/User/UserRecipeList">View your contributions</a></p>
								</div>
							}
							else if (Model.Status == "pending")
							{
								<div class="text-warning">
									<h1>Your recipe added is pending</h1>
									<p>
										Thank you for your contribution! We will moderate your recipe, please be patient and wait for a while....
									</p>
									<p>
										<a href="/Recipe/EditRecipe/?id=@Model.RecipeId">Edit it?</a> or
										<a href="/Recipe/TrashRecipe/?id=@Model.RecipeId" class="text-danger">Trash it?</a> or
										<a href="/User/UserRecipeList">View your contributions</a>
									</p>
								</div>
							}
							else if (Model.Status == "trash")
							{
								<div class="text-muted">
									<h1>Your recipe has been moved to the trash</h1>
								</div>
							}
							else if (Model.Status == "draft")
							{
								<div class="text-muted">
									<h1>Your recipe is drafted</h1>
								</div>
								<p>
									<a href="/Recipe/EditRecipe/?id=@Model.RecipeId">Edit it?</a> or
									<a href="/Recipe/TrashRecipe/?id=@Model.RecipeId" class="text-danger">Trash it?</a> or
									<a href="/User/UserRecipeList">View your contributions</a>
								</p>
							}
							else
							{
								<p>
									<a href="/Recipe/EditRecipe/?id=@Model.RecipeId">Edit it?</a> or
									<a href="/Recipe/TrashRecipe/?id=@Model.RecipeId" class="text-danger">Trash it?</a> or
									<a href="/User/UserRecipeList">View your contributions</a>
								</p>
							}
						</div>
					</div>
				</div>

				<div class="margin-bottom-40px card border-0 box-shadow">
					<div class="padding-lr-30px padding-tb-20px">
						<h2 class="font-weight-500 margin-bottom-20px text-center">@Model.Title</h2>
						<div class="margin-tb-10px">
							@Model.Description
						</div>
						<div class="margin-bottom-10px">
							Recipe by Cook @Model.Author
							<span class="margin-lr-5px">|</span>
							Updated on @Model.Date
						</div>
					</div>
					<div class="card-img-top"><img src="@Model.Img" alt=""></div>
					<div class="padding-lr-30px padding-tb-20px">
						<div class="padding-tb-10px">
							<h3>Ingredients</h3>
							<ul>
								@foreach (var item in Model.Ingredients)
								{
									<li>@item.IngredientName</li>
								}
							</ul>
						</div>
						<div class="padding-tb-10px">
							<h3>Directions</h3>
							<div class="padding-lr-20px">
								@foreach (var item in Model.Directions)
								{
									<p><b>Step @item.Step</b> - <span>@item.Direction1</span></p>
								}
							</div>
						</div>
						<div class="padding-tb-10px">
							<h3>Tags</h3>
							<div class="padding-lr-20px">
								<p>
									@foreach (var item in Model.Tags)
									{
										if (!string.IsNullOrWhiteSpace(item?.TagName))
										{
											@item.TagName.Trim()
											if (item != Model.Tags.Last())
											{
												<text>, </text>
											}
										}
									}
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
