@using System.Data
@model DashBroadModel
@inject UserManager<AppUser> _userManager
@{
    ViewData["Title"] = "Admin";
    Layout = "_AdminLayout";
}

<body class="" id="main-wrapper">
    
      <!-- ============================================================== -->
      <!-- Preloader - style you can find in spinners.css -->
      <!-- ============================================================== -->
 
<!-- ============================================================== -->
<!-- Sidebar scss in sidebar.scss -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Sidebar scss in sidebar.scss -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Page wrapper scss in scafholding.scss -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- Title and breadcrumb -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- Container fluid scss in scafholding.scss -->
<!-- ============================================================== -->
<div class="padding-20px">
    <div class="row">

        <div class="col s12 m12 l6" >
            <div class="card padding-">
                <div class="card-body">
                    <h5 class="card-title">Table with Top Recipe</h5>

                    <!-- Table with stripped rows -->
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Desciption</th>
                                <th scope="col">Number Share</th>
                                <th scope="col">Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{int i = 0; }
                            @foreach(var item in Model.Recipes)
                            {
                                
                                i++;
                                <tr>
                                    <th scope="row">@i</th>
                                    <td>@item.Title</td>
                                    <td>@item.Description.Substring(0,30)...</td>
                                    <td>@item.NumberShare</td>
                                    <td>@item.Date</td>
                                </tr>
                            }
                           
                           
                            
                        </tbody>
                    </table>
                    <!-- End Table with stripped rows -->

                </div>
            </div>
        </div>
        <!-- column -->
        <div class="col s12 m12 l6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Status Recipe</h5>

                    <!-- Polar Area Chart -->
                    <canvas id="polarAreaChart" style="max-height: 400px;"></canvas>
                    <script>
                        document.addEventListener("DOMContentLoaded", () => {
                            new Chart(document.querySelector('#polarAreaChart'), {
                                type: 'polarArea',
                                data: {
                                    labels: [
                                        'Reject',
                                        'Public',
                                        'Pendding',
                                        'Draft',
                                        'Trash'
                                    ],
                                    datasets: [{
                                        label: 'My First Dataset',
                                        data: [@Model.recipeReject, @Model.recipePublic, @Model.recipePending, @Model.recipeDrash, @Model.recipeTrash],
                                        backgroundColor: [
                                            'rgb(255, 99, 132)',
                                            'rgb(75, 192, 192)',
                                            'rgb(255, 205, 86)',
                                            'rgb(201, 203, 207)',
                                            'rgb(54, 162, 235)'
                                        ]
                                    }]
                                }
                            });
                        });
                    </script>
                    <!-- End Polar Area Chart -->

                </div>
            </div>
        </div>
    </div>
    </div>
   <!-- End Website Traffic -->
            
                <!-- ============================================================== -->
                <!-- info box -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col l3 m6 s12">
                        <div class="card">
                            <div class="card-content">
                                <div class="row">
                                    <div class="col s12">
                                        <div class="d-flex no-block align-items-center">
                                            <div>
                                                <h4>@Model.totalRecipe</h4>
                                                <h6 class="card-subtitle">Total Recipe</h6>
                                            </div>
                                            <div class="ml-auto">
                                                <span class="blue-text display-6"><i class="ti-layout-slider-alt"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col s12">
                                        <div class="progress">
                                            <div class="determinate indigo darken-1" style="width:70%;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col l3 m6 s12">
                        <div class="card">
                            <div class="card-content">
                                <div class="row">
                                    <div class="col s12">
                                        <div class="d-flex no-block align-items-center">
                                            <div>
                                                <h4>@Model.totalAccount</h4>
                                                <h6 class="card-subtitle">Total Account</h6>
                                            </div>
                                            <div class="ml-auto">
                                                <span class="green-text display-6"><i class="ti-layout-media-left-alt"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col s12">
                                        <div class="progress">
                                            <div class="determinate teal darken-2" style="width:70%;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col l3 m6 s12">
                        <div class="card">
                            <div class="card-content">
                                <div class="row">
                                    <div class="col s12">
                                        <div class="d-flex no-block align-items-center">
                                            <div>
                                                <h4>@Model.totalCategory</h4>
                                                <h6 class="card-subtitle">Total Category</h6>
                                            </div>
                                            <div class="ml-auto">
                                                <span class="orange-text display-6"><i class="ti-notepad"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col s12">
                                        <div class="progress">
                                            <div class="determinate amber darken-3" style="width:70%;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col l3 m6 s12">
                        <div class="card">
                            <div class="card-content">
                                <div class="row">
                                    <div class="col s12">
                                        <div class="d-flex no-block align-items-center">
                                            <div>
                                                <h4>@Model.totalFeedback</h4>
                                                <h6 class="card-subtitle">Total FeedBack</h6>
                                            </div>
                                            <div class="ml-auto">
                                                <span class="black-text display-6"><i class="ti-panel"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col s12">
                                        <div class="progress">
                                            <div class="determinate grey darken-3" style="width:70%;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
               
                <!-- ============================================================== -->
                <!-- Active user - project- visitors -->
                <!-- ============================================================== -->
          
                <!-- ============================================================== -->
                <!-- Personal profile and timeline-->
                <!-- ============================================================== -->
               
            </div>

            <div class="row">
           
                <div class="col s12 m12 l6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Olds User</h5>

                    <!-- Bar Chart -->
                    <canvas id="barChart" style="max-height: 400px;"></canvas>
                    <script>
                        document.addEventListener("DOMContentLoaded", () => {
                            new Chart(document.querySelector('#barChart'), {
                                type: 'bar',
                                data: {
                                    labels: ['0-10', '11-20', '21-30', '31-40', '41-50', '51-60', '60+'],
                                    datasets: [{
                                        label: 'Bar Chart',
                                        data: [@Model.OldUser1_10, @Model.OldUser10_20
                                                                , @Model.OldUser20_30, @Model.OldUser30_40,
                        @Model.OldUser40_50, @Model.OldUser50_60,
                        @Model.OldUser60_200],
                                        backgroundColor: [
                                            'rgba(255, 99, 132, 0.2)',
                                            'rgba(255, 159, 64, 0.2)',
                                            'rgba(255, 205, 86, 0.2)',
                                            'rgba(75, 192, 192, 0.2)',
                                            'rgba(54, 162, 235, 0.2)',
                                            'rgba(153, 102, 255, 0.2)',
                                            'rgba(201, 203, 207, 0.2)'
                                        ],
                                        borderColor: [
                                            'rgb(255, 99, 132)',
                                            'rgb(255, 159, 64)',
                                            'rgb(255, 205, 86)',
                                            'rgb(75, 192, 192)',
                                            'rgb(54, 162, 235)',
                                            'rgb(153, 102, 255)',
                                            'rgb(201, 203, 207)'
                                        ],
                                        borderWidth: 1
                                    }]
                                },
                                options: {
                                    scales: {
                                        y: {
                                            beginAtZero: true
                                        }
                                    }
                                }
                            });
                        });
                    </script>
                    <!-- End Bar CHart -->

                </div>
            </div>
                </div>
                <!-- column -->
                <div class="col s12 m12 l6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Recipe on Month</h5>

                    <!-- Line Chart -->
                    <canvas id="lineChart" style="max-height: 400px;"></canvas>
                    <script>
                        document.addEventListener("DOMContentLoaded", () => {
                            new Chart(document.querySelector('#lineChart'), {
                                type: 'line',
                                data: {
                                    labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
                                    datasets: [{
                                        label: 'Line Chart',
                                        data: [@Model.NumberRecipeofMonth1, @Model.NumberRecipeofMonth2
                                                                                        , @Model.NumberRecipeofMonth3, @Model.NumberRecipeofMonth4,
                        @Model.NumberRecipeofMonth5, @Model.NumberRecipeofMonth6,
                        @Model.NumberRecipeofMonth7],
                                        fill: false,
                                        borderColor: 'rgb(75, 192, 192)',
                                        tension: 0.1
                                    }]
                                },
                                options: {
                                    scales: {
                                        y: {
                                            beginAtZero: true
                                        }
                                    }
                                }
                            });
                        });
                    </script>
                    <!-- End Line CHart -->

                </div>
            </div>
            </div>
            </div>

<!-- ============================================================== -->
<!-- All Required js -->
<!-- ============================================================== -->
    <script src="../Areas/Admin/Views/DashBoard/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="../Areas/Admin/Views/DashBoard/dist/js/materialize.min.js"></script>
    <script src="../Areas/Admin/Views/DashBoard/assets/libs/perfect-scrollbar/dist/js/perfect-scrollbar.jquery.min.js"></script>
<!-- ============================================================== -->
<!-- Apps -->
<!-- ============================================================== -->
    <script src="../Areas/Admin/Views/DashBoard/dist/js/app.js"></script>
    <script src="../Areas/Admin/Views/DashBoard/dist/js/app.init.js"></script>
    <script src="../Areas/Admin/Views/DashBoard/dist/js/app-style-switcher.js"></script>
<!-- ============================================================== -->
<!-- Custom js -->
<!-- ============================================================== -->
    <script src="../Areas/Admin/Views/DashBoard/dist/js/custom.min.js"></script>

<!-- ============================================================== -->
<!-- This page plugin js -->
<!-- ============================================================== -->
    <script src="../Areas/Admin/Views/DashBoard/assets/libs/chartist/dist/chartist.min.js"></script>
    <script src="../Areas/Admin/Views/DashBoard/assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
<!--c3 JavaScript -->
    <script src="../Areas/Admin/Views/DashBoard/assets/extra-libs/c3/d3.min.js"></script>
    <script src="../Areas/Admin/Views/DashBoard/assets/extra-libs/c3/c3.min.js"></script>
    <script src="../Areas/Admin/Views/DashBoard/assets/libs/chart.js/dist/Chart.min.js"></script>
    <script src="../Areas/Admin/Views/DashBoard/dist/js/pages/dashboards/dashboard2.js"></script>
    <script src="../Areas/Admin/Views/DashBoard/assets/extra-libs/sparkline/sparkline.js"></script>
    <script src="~/admin/dist/js/pages/chart.js/chart.umd.js"></script>
    <script src="~/admin/dist/js/pages/echartss/echarts.min.js"></script>
    <script >
        $(function () {
            "use strict";
            // ==============================================================
            // our visitor
            // ==============================================================

            var chart = c3.generate({
                bindto: '#visitor',
                data: {
                    columns: [
                        ['desktop', 60],
                        ['tablet', 12],
                        ['mobile', 28],

                    ],
                    type: 'donut',
                    onclick: function (d, i) {
                        console.log("onclick", d, i);
                    },
                    onmouseover: function (d, i) {
                        console.log("onmouseover", d, i);
                    },
                    onmouseout: function (d, i) {
                        console.log("onmouseout", d, i);
                    }
                },
                donut: {
                    label: {
                        show: false
                    },
                    title: "visits",
                    width: 35,

                },
                legend: {
                    hide: true
                    //or hide: 'data1'
                    //or hide: ['data1', 'data2']
                },
                color: {
                    pattern: ['#40c4ff', '#2961ff', '#ff821c', '#7e74fb']
                }
            });
            // ==============================================================
            // our visitor
            // ==============================================================
            var sparklinelogin = function () {
                $('#active-users').sparkline([6, 10, 9, 11, 9, 10, 12, 10, 9, 11, 9, 10, 12, 10, 9, 11, 9, 10, 12], {
                    type: 'bar',
                    height: '60',
                    barwidth: '4',
                    width: '100%',
                    resize: true,
                    barspacing: '8',
                    barcolor: '#2961ff'
                });

            };
            var sparkresize;

            $(window).resize(function (e) {
                cleartimeout(sparkresize);
                sparkresize = settimeout(sparklinelogin, 500);
            });
            sparklinelogin();

            // ==============================================================
            // world map
            // ==============================================================
            jquery('#visitfromworld').vectormap({
                map: 'world_mill_en',
                backgroundcolor: 'transparent',
                bordercolor: '#000',
                borderopacity: 0,
                borderwidth: 0,
                zoomonscroll: false,
                color: '#93d5ed',
                regionstyle: {
                    initial: {
                        fill: '#93d5ed',
                        'stroke-width': 1,
                        'stroke': '#fff'
                    }
                },
                markerstyle: {
                    initial: {
                        r: 5,
                        'fill': '#93d5ed',
                        'fill-opacity': 1,
                        'stroke': '#93d5ed',
                        'stroke-width': 1,
                        'stroke-opacity': 1
                    },
                },
                enablezoom: true,
                hovercolor: '#79e580',
                markers: [{
                    latlng: [21.00, 78.00],
                    name: 'india : 9347',
                    style: {
                        fill: '#2961ff'
                    }
                }, {
                    latlng: [-33.00, 151.00],
                    name: 'australia : 250',
                    style: {
                        fill: '#ff821c'
                    }
                }, {
                    latlng: [36.77, -119.41],
                    name: 'usa : 250',
                    style: {
                        fill: '#40c4ff'
                    }
                }, {
                    latlng: [55.37, -3.41],
                    name: 'uk   : 250',
                    style: {
                        fill: '#398bf7'
                    }
                }, {
                    latlng: [25.20, 55.27],
                    name: 'uae : 250',
                    style: {
                        fill: '#6fc826'
                    }
                }],
                hoveropacity: null,
                normalizefunction: 'linear',
                scalecolors: ['#93d5ed', '#93d5ee'],
                selectedcolor: '#c9dfaf',
                selectedregions: [],
                showtooltip: true,
                onregionclick: function (element, code, region) {
                    var message = 'you clicked "' + region + '" which has the code: ' + code.touppercase();
                    alert(message);
                }
            });
        });

    </script>
    <!-- Vendor JS Files -->
    <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/chart.js/chart.umd.js"></script>
    <script src="assets/vendor/echarts/echarts.min.js"></script>
    <script src="assets/vendor/quill/quill.min.js"></script>
    <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
  </body>

