@{
    NotificationRepository _notificationRepository = new NotificationRepository();
    var listNotification = _notificationRepository.GetAllNofiticationWithMetadata().Where(p => p.Recipe.Status.Equals("pending")).ToList();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="16x16" href="~/assets/img/logo-red.png">
    <title>@ViewData["Title"] - RecipeOrganizer</title>
    <link href="~/admin/dist/css/style.css" rel="stylesheet">
    <!-- This page CSS -->
    <link href="~/admin/assets/extra-libs/footable/css/footable.bootstrap.min.css" rel="stylesheet">
    <link href="~/admin/dist/css/pages/footable-page.css" rel="stylesheet">
    
    <style>
        input-field > label {
            color:black;
        }
    </style>
</head>
<body style="color: rgba(0, 0, 0, 0.87);">
    <div class="main-wrapper" id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <div class="preloader">
            <div class="loader">
                <div class="loader__figure"></div>
                <p class="loader__label">@ViewData["Title"]</p>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <!--Login partial here -->
        <header class="topbar">
           @* @Html.Partial("_ManageNav", ManageNav)*@
            @Html.Partial("_TopBar", listNotification)
        </header>
        <aside class="left-sidebar">
            @*@Html.Partial("_ManageNav", ManageNav)*@
            @Html.Partial("_SideBar")
        </aside>

        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Title and breadcrumb -->
            <!-- ============================================================== -->
            <div class="page-titles">
                <div class="d-flex align-items-center">
                    <h5 class="font-medium m-b-0">@ViewData["Title"]</h5>
                    <div class="custom-breadcrumb ml-auto">
                        <a href="/Admin" class="breadcrumb">Home</a>
                        <a href="#!" class="breadcrumb">@ViewData["Title"]</a>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- Container fluid scss in scafholding.scss -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <div class="row">
                    <!-- render body here!!!-->
                    @RenderBody()       
                </div>
            </div>
        </div>
    </div>

        <!-- ============================================================== -->
        <!-- Page wrapper scss in scafholding.scss -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right Sidebar -->
        <!-- ============================================================== -->
        <a href="#" data-target="right-slide-out" class="sidenav-trigger right-side-toggle btn-floating btn-large waves-effect waves-light red"><i class="material-icons">settings</i></a>
        <aside class="right-sidebar">
            <!-- Right Sidebar -->
            <ul id="right-slide-out" class="sidenav right-sidenav p-t-10">
                <li>
                    <div class="row">
                        <div class="col s12">
                            <!-- Tabs -->
                            <ul class="tabs">
                                <li class="tab col s12"><a href="#settings" class="active"><span class="material-icons">build</span></a></li>
                            </ul>
                            <!-- Tabs -->
                        </div>
                        <!-- Setting -->
                        <div id="settings" class="col s12">
                            <div class="m-t-10 p-10 b-b">
                                <h6 class="font-medium">Layout Settings</h6>
                                <ul class="m-t-15">
                                    <li class="m-b-10">
                                        <label>
                                            <input type="checkbox" name="theme-view" id="theme-view" />
                                            <span>Dark Theme</span>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </aside>
    <footer class="page-footer" style="background-color:#232a37;">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <div class="logo margin-bottom-10px"><img src="~/assets/img/logo-color-01-01.png" alt="Recipe Organizer" style="max-width:30%;"></div>
                    <div class="text-grey-2 font-weight-300">
                        <p style="font-size: 16px;">Our mission to help people who struggle to locate culinary recipes that are appropriate for their hobbies or eating habits.</p>
                    </div>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Recipe Organizer</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href=@Url.Action("Index", "Home")>Homepage</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © Recipe Organizer | 2023 All copy rights reserved
            </div>
        </div>
    </footer>

    <script>
        var date = new Date(); // Get the current date and time
        var formattedDate = date.toLocaleDateString(); // Format the date

        var tdElements = document.getElementsByClassName("dateElement"); // Display the formatted date
        for (var i = 0; i < tdElements.length; i++) {
            if (tdElements[i].innerHTML.trim() != "")
            tdElements[i].textContent = formattedDate; // Update the content of each <td> with the formatted date
        }
    </script>
    <!-- ============================================================== -->
    <!-- All Required js -->
    <!-- ============================================================== -->
    <script src="~/admin/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/admin/dist/js/materialize.min.js"></script>
    <script src="~/admin/assets/libs/perfect-scrollbar/dist/js/perfect-scrollbar.jquery.min.js"></script>
    <!-- ============================================================== -->
    <!-- Apps -->
    <!-- ============================================================== -->
    <script src="~/admin/dist/js/app.js"></script>
    <script src="~/admin/dist/js/app.init.dark.js"></script>
    <script src="~/admin/dist/js/app-style-switcher.js"></script>
    <!-- ============================================================== -->
    <!-- Custom js -->
    <!-- ============================================================== -->
    <script src="~/admin/dist/js/custom.min.js"></script>
    <!-- ============================================================== -->
    <!-- This page plugin js -->
    <!-- ============================================================== -->
    <!-- Footable -->

    @*<script src="~/admin/assets/libs/moment/moment.js"></script>
    <script src="~/admin/assets/extra-libs/footable/js/footable.min.js"></script>
    <script src="~/admin/dist/js/pages/footable/footable-init.js"></script>*@

    <!-- Addition -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <!-- ============================================================== -->
    <!-- This page plugin js -->
    <!-- ============================================================== -->
    <script src="~/admin/assets/extra-libs/c3/d3.min.js"></script>
    <script src="~/admin/assets/extra-libs/c3/c3.min.js"></script>
    <!-- line chart -->
    <script src="~/admin/dist/js/pages/c3-chart/bar-pie/c3-bar.js"></script>
    <script src="~/admin/dist/js/pages/c3-chart/bar-pie/c3-column.js"></script>
    <script src="~/admin/dist/js/pages/c3-chart/bar-pie/c3-donut.js"></script>
    <script src="~/admin/dist/js/pages/c3-chart/bar-pie/c3-pie.js"></script>
    <script src="~/admin/dist/js/pages/c3-chart/bar-pie/c3-stacked-bar.js"></script>
    <script src="~/admin/dist/js/pages/c3-chart/bar-pie/c3-stacked-column.js"></script>
</body>
</html>
