@using Microsoft.AspNetCore.Identity

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@model List<RecipeNotification>
@{
    var user = await UserManager.GetUserAsync(User);
    bool hasPassword = await UserManager.HasPasswordAsync(user);
}
<!-- ============================================================== -->
<!-- Navbar scss in header.scss -->
<!-- ============================================================== -->
<style>
    .nofitication-style{
        box-shadow: -1px 3px 11px 4px rgba(0, 0, 0, 0.2);
        padding: 10px;
    }

    .nofitication-icon {
        color: #ffeec0;
    }

    .circle-container {
        width: 100px; /* Adjust the width and height as per your requirement */
        height: 70px;
        border-radius: 25%;
        overflow: hidden;
    }

    .circle-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
</style>
<nav style="background-color:#f44336;">
    <div class="nav-wrapper">
        <!-- ============================================================== -->
        <!-- Logo you can find that scss in header.scss -->
        <!-- ============================================================== -->
        <div>
            <a href=@Url.Action("Index", "Home") class="brand-logo">
                <img class="light-logo" src="~/assets/img/logo-color-01-01.png" alt="logos" style="width:55%">
            </a>
        </div>
        
        <!-- ============================================================== -->
        <!-- Logo you can find that scss in header.scss -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left topbar icon scss in header.scss -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left topbar icon scss in header.scss -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right topbar icon scss in header.scss -->
        <!-- ============================================================== -->
        <ul class="right">
            <!-- ============================================================== -->
            <!-- Profile icon scss in header.scss -->
            <!-- ============================================================== -->
            <li>Hi 
                @if (string.IsNullOrEmpty(user.FirstName))
                {
                    if (@UserManager.GetUserName(User).Contains("@"))
                    {
                        string username = @UserManager.GetUserName(User).Split("@")[0];
                        <span>@username</span>
                    }
                    else
                    {
                        <span>@UserManager.GetUserName(User)</span>
                    }
                }
                else
                {
                    <span>@user.FirstName</span>
                }
            <li/>
            <!-- ============================================================== -->
            <!-- Notification icon scss in header.scss -->
            <!-- ============================================================== -->
            <li>
                <a class="dropdown-trigger" href="javascript: void(0);" data-target="noti_dropdown"><i class="material-icons nofitication-icon">notifications</i></a>
                <ul id="noti_dropdown" class="mailbox dropdown-content nofitication-style" style="width: 308px;left: 1528px;">
                    <li>
                        <div class="drop-title">Notifications</div>
                    </li>
                    <li>
                        <div class="message-center">
                            <!-- Message -->
                               @* @foreach (RecipeNotification notify in listNotification)
                                {
                                <a href="#">
                                    <img src="~/admin/assets/images/users/5.jpg" class="circle" width="150">
                                    <span class="mail-contnet">
                                        <h5>@notify.recipe.Title</h5>
                                        <span class="mail-desc">@notify.notification.Message</span>
                                        <span>@notify.user.UserName</span>   <span class="time">@MyToys.getLastTime(@notify.notification.Date)</span>
                                    </span>
                                </a>
                                }*@
                                @*Notification not more than 5*@
                                @if (Model.Count == 0)
                                {
                                    <strong>No result</strong>
                                }
                                else if (Model.Count < 5)
                                {
                                    var listNotification = Model.OrderByDescending(p => p.recipe.Date).ToList();
                                    foreach (RecipeNotification notify in listNotification)
                                    {
                                        <a href="/Recipe/RecipeDetails/?recipeID=@notify.recipe.RecipeId" style="padding: 9px 7px;">
                                            <img src="@notify.recipe.Image" class="circle circle-container">
                                                <span class="mail-contnet">
                                                    <h5 style="font-weight:bold;">@notify.recipe.Title</h5>
                                                    <span class="mail-desc">@notify.notification.Message</span>
                                                    <span>
                                                    @if (string.IsNullOrEmpty(notify.user.FirstName))
                                                    {
                                                        if (@notify.user.UserName.Contains("@"))
                                                        {
                                                            string username = @notify.user.UserName.Split("@")[0];
                                                        <span>@username</span>
                                                        }
                                                        else
                                                        {

                                                        <span>@notify.user.UserName</span>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        if (@notify.user.LastName != null)
                                                        {
                                                            string fullName = @notify.user.FirstName + " " + @notify.user.LastName;
                                                        <span>@fullName</span>
                                                        }
                                                        else
                                                        {
                                                        <span>@notify.user.FirstName</span>
                                                        }
                                                    }
                                                    </span>   
                                                    <span class="time" style="display:inline-block;">@MyToys.getLastTime(@notify.notification.Date)</span>
                                                </span>
                                        </a>
                                    }    
                                } else
                                @for(int i = 4; i >= 0; i--)
                                {
                                    var listNotification = Model.OrderByDescending(p => p.recipe.Date).ToList();
                                    RecipeNotification notify = listNotification[i];
                                    <a href="/Recipe/RecipeDetails/?recipeID=@notify.recipe.RecipeId" style="padding: 9px 7px;">
                                        <img src="@notify.recipe.Image" class="circle circle-container">
                                        <span class="mail-contnet">
                                            <h5 style="font-weight:bold;">@notify.recipe.Title</h5>
                                            <span class="mail-desc">@notify.notification.Message</span>
                                            <span>
                                                    @if (string.IsNullOrEmpty(notify.user.FirstName))
                                                    {
                                                        if (@notify.user.UserName.Contains("@"))
                                                        {
                                                            string username = @notify.user.UserName.Split("@")[0];
                                                        <span>@username</span>
                                                        }
                                                        else
                                                        {

                                                        <span>@notify.user.UserName</span>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        if (@notify.user.LastName != null)
                                                        {
                                                            string fullName = @notify.user.FirstName + " " + @notify.user.LastName;
                                                        <span>@fullName</span>
                                                        }
                                                        else
                                                        {
                                                        <span>@notify.user.FirstName</span>
                                                        }
                                                    }
                                            </span>   
                                            <span class="time" style="display:inline-block;">@MyToys.getLastTime(@notify.notification.Date)</span>
                                        </span>
                                    </a>
                                }
                        </div>
                    </li>
                    <li>
                        <a class="center-align" href="javascript:void(0);"> <strong>Check all notifications</strong> </a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="dropdown-trigger" href="javascript: void(0);" data-target="user_dropdown"><img src="~/admin/assets/images/users/2.jpg" alt="user" class="circle profile-pic"></a>
                <ul id="user_dropdown" class="mailbox dropdown-content dropdown-user">
                    <li>
                        <div class="dw-user-box">
                            <div class="u-img"><img src="~/admin/assets/images/users/2.jpg" alt="user"></div>
                            <div class="u-text">
                                <h4>
                                    @if (string.IsNullOrEmpty(user.FirstName))
                                    {
                                        if (@UserManager.GetUserName(User).Contains("@"))
                                        {
                                            string username = @UserManager.GetUserName(User).Split("@")[0];
                                            <span>@username</span>
                                        }
                                        else
                                        {
                                            <span>@UserManager.GetUserName(User)</span>
                                        }
                                    }
                                    else
                                    {
                                        <span>@user.FirstName</span>
                                    }
                                </h4>
                                <p>@user.Email</p>
                                <a class="waves-effect waves-light btn-small red white-text">View Profile</a>
                            </div>
                        </div>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/Admin/UserRecipe/?userID=@user.Id"><i class="material-icons">account_circle</i> My Profile</a></li>
                    <li role="separator" class="divider"></li>
                        @if(hasPassword)
                        {
                            <li><a href=@Url.Action("ChangePassword", "Manage")><i class="material-icons">mode_edit</i> Change password</a></li>
                            <li role="separator" class="divider"></li>
                        }
                    <li>
                        <form class="form-inline left-align" style="margin-top:10px" asp-area="Admin" asp-controller="Manage" asp-action="Logout" method="post">
                            <button type="submit" class="dropdown-item nav-link btn btn-link text-dark">Logout</button>
                        </form>
                    </li>
                </ul>
        </ul>
        <!-- ============================================================== -->
        <!-- Right topbar icon scss in header.scss -->
        <!-- ============================================================== -->
    </div>
</nav>
<!-- ============================================================== -->
<!-- Navbar scss in header.scss -->
<!-- ============================================================== -->