@using Microsoft.AspNetCore.Identity

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
}
<!-- ============================================================== -->
<!-- Navbar scss in header.scss -->
<!-- ============================================================== -->
<nav style="background-color:#f44336;">
    <div class="nav-wrapper">
        <!-- ============================================================== -->
        <!-- Logo you can find that scss in header.scss -->
        <!-- ============================================================== -->
        <div>
            <a href=@Url.Action("Index", "Home") class="brand-logo">
                <img class="light-logo" src="~/assets/img/logo-color-01-01.png" alt="logos" style="justify-content: center; width:55%;">
            </a>
        </div>
        
        <!-- ============================================================== -->
        <!-- Logo you can find that scss in header.scss -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left topbar icon scss in header.scss -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left topbar icon scss in header.scss -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right topbar icon scss in header.scss -->
        <!-- ============================================================== -->
        <ul class="right">
            <!-- ============================================================== -->
            <!-- Profile icon scss in header.scss -->
            <!-- ============================================================== -->
            <li>Hi 
                @if (string.IsNullOrEmpty(user.FirstName))
                {
                    if (@UserManager.GetUserName(User).Contains("@"))
                    {
                        string username = @UserManager.GetUserName(User).Split("@")[0];
                        <span>@username</span>
                    }
                    else
                    {
                        <span>@UserManager.GetUserName(User)</span>
                    }
                }
                else
                {
                    <span>@user.FirstName</span>
                }
            <li/>
            <li>
                <a class="dropdown-trigger" href="javascript: void(0);" data-target="user_dropdown"><img src="~/admin/assets/images/users/2.jpg" alt="user" class="circle profile-pic"></a>
                <ul id="user_dropdown" class="mailbox dropdown-content dropdown-user">
                    <li>
                        <div class="dw-user-box">
                            <div class="u-img"><img src="~/admin/assets/images/users/2.jpg" alt="user"></div>
                            <div class="u-text">
                                <h4>
                                    @if (string.IsNullOrEmpty(user.FirstName))
                                    {
                                        if (@UserManager.GetUserName(User).Contains("@"))
                                        {
                                            string username = @UserManager.GetUserName(User).Split("@")[0];
                                            <span>@username</span>
                                        }
                                        else
                                        {
                                            <span>@UserManager.GetUserName(User)</span>
                                        }
                                    }
                                    else
                                    {
                                        <span>@user.FirstName</span>
                                    }
                                </h4>
                                <p>@user.Email</p>
                                <a class="waves-effect waves-light btn-small red white-text">View Profile</a>
                            </div>
                        </div>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#"><i class="material-icons">account_circle</i> My Profile</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#"><i class="material-icons">settings</i> Account Setting</a></li>
                    <li role="separator" class="divider"></li>
                    <li>
                        <form class="form-inline left-align" style="margin-top:10px" asp-area="Admin" asp-controller="Manage" asp-action="Logout" method="post">
                            <button type="submit" class="dropdown-item nav-link btn btn-link text-dark">Logout</button>
                        </form>
                    </li>
                </ul>
        </ul>
        <!-- ============================================================== -->
        <!-- Right topbar icon scss in header.scss -->
        <!-- ============================================================== -->
    </div>
</nav>
<!-- ============================================================== -->
<!-- Navbar scss in header.scss -->
<!-- ============================================================== -->