@model List<Services.Data.RecipeUserData>
@using Microsoft.AspNetCore.Identity

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@{
	ViewBag.Title = "All recipes Personal Recipes";
	Layout = "~/Areas/Identity/Views/Shared/_ProfileLayout.cshtml";
}



<div class="row">
	<div class="col-lg-12 margin-bottom-40px">
		<div class="box-shadow border-radius-10 overflow-hidden">
			<div class="padding-30px background-white">
				<h2>All recipes Personal Recipes</h2>
				<p>Recipes you have created on Recipe Organizer.</p>
			</div>
		</div>
	</div>
</div>

@if (Model.Count > 0)
{
	<!-- have -->
	<div class="container margin-bottom-100px">
		<div class="row">
			@foreach (var item in Model)
			{
				<!-- item -->
				<div class="col-lg-12 margin-bottom-20px">
					<div class="background-white thum-hover box-shadow hvr-float full-width">

						<div class="float-md-left margin-right-30px thum-xs">
							@if (item.Status == "public")
							{
								<a href="/Recipe/RecipeDetail/?id=@item.RecipeId"><img class="width-200px" src="@item.Image" alt=""></a>
							}
							else 
							{
								<a href="/Recipe/UsrPendingRecipe/?id=@item.RecipeId"><img class="width-200px" src="@item.Image" alt=""></a>
							}
						</div>
						<div class="padding-25px">
							<div class="row">
								<div class="col-10">
									<h3>
										@if (item.Status == "public")
										{
											<a class="text-dark" href="/Recipe/UsrPendingRecipe/?id=@item.RecipeId">@item.Title</a>
										}
										else
										{
											<a class="text-dark" href="/Recipe/UsrPendingRecipe/?id=@item.RecipeId">@item.Title</a>
										}
									</h3>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-5 text-left">Date: @item.Date.ToString("dd/MM/yyyy")</div>
								<div class="col-7 text-right">
									@if (@item.Status == "public")
									{
										<span class="text-success">Public</span>
										<span> - </span>
										<a href="/Recipe/RecipeDetail/?id=@item.RecipeId" class="text-grey-4">View</a>
									}
									else if (@item.Status == "pending")
									{
										<span class="text-warning">Pending</span>
										<span> - </span>
										<a href="/Recipe/EditRecipe/?id=@item.RecipeId" class="text-grey-4">Edit</a>
									}
									else if (@item.Status == "draft")
									{
										<span class="text-dark">Drafted</span>
										<span> - </span>
										<a href="/Recipe/EditRecipe/?id=@item.RecipeId" class="text-grey-4">Edit</a>
									}
									else if (@item.Status == "trash")
									{
										<span class="text-dark">Trashed</span>
									}
									else if (@item.Status == "rejected")
									{
										<span class="text-danger">Rejected</span>
										<span> - </span>
										@*<a href="/Recipe/DeleteRecipe/?id=@item.RecipeId" class="text-grey-4">Permanently deleted</a>*@
										<a href="#" class="text-grey-4" onclick="confirmDelete(@item.RecipeId)">Permanently delete</a>
										<script>
											function confirmDelete(recipeId) {
												var confirmation = confirm("Are you sure you want to delete this recipe?");
												if (confirmation) {
													// Redirect to the delete action
													window.location.href = "/Recipe/DeleteRecipe?id=" + recipeId;
												}
											}
										</script>
									}
									else
									{
										<span class="">@item.Status</span>
									}
								</div>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<!-- // item -->
			}
		</div>
	</div>
	<!-- // have -->
}
else
{
	<div class="col-lg-12 margin-bottom-40px">
		<div class="box-shadow border-radius-10 overflow-hidden">
			<div class="padding-30px background-white">
				<div class="text-center">
					<h3>You haven't created any recipes yet.</h3>
					<p>To add a recipe click the button below</p>
					<a href="@Url.Action("AddNewRecipe", "Recipe")"
					   class="btn box-shadow margin-top-50px padding-tb-10px btn-sm border-2 border-radius-30 btn-inline-block width-210px background-second-color text-white">
						<i class="fas fa-plus"></i> Add A Recipes
					</a>
				</div>
			</div>
		</div>
	</div>
}

